.pins {
  width: 20vw;
  border: 1px solid #ccc;
  padding: 0;
  position: relative;
}

h1 {
  margin: 5vw 0 0 5vw;
}

.pin-columns {
  padding: 5vw;
  columns: 4 25vw;
  column-gap: 2vw;
  .card {
    display: inline-block;
    width: 100%;
    margin-top: 2vw; 
    border: none;
    padding: 0;
  }
  img {
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
    filter: brightness(90%);
    margin-bottom: 1vw;
  }
  @for $i from 1 through 30 {
    .pins:nth-child(#{$i}) img {
      height: (floor(random(40) + 30)) + vh;
    }
  }
}

.pin-card-body {
  position: relative;
}

.pin-card-body:hover span {
  display: inline;
}

.trashPin {
  display: none;
  font-size: 1.5vw; 
  position: absolute;
  bottom: 2vw;
  right: 1vw;
  cursor: pointer;
  color: white;
  .fa-trash {
    color: black;
  }
  .fa-circle {
    opacity: 0.7;
  }
}

.pinLink {
  display: none;
  background-color: rgba(255,255,255,0.7);
  position: absolute;
  bottom: 2vw;
  left: 1vw;
  cursor: pointer;
  line-height: 1.5vw;
}

.pinLink a{
  color: black;
}


.pins .card-body {
  padding: 0;
}
